* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: #f3cf7a;
  --secondary-color: #41210a;
  --terciary-color: #ac3f21;
  --coffee-brown: #6e3b3b;
  --primary-transparent: rgba(243, 207, 122, 0.5);
  --secondary-transparent: rgba(65, 33, 10, 0.5);
}

body {
  background-color: var(--primary-color);
  font-family: "Cambria", serif;
}

.global-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
}

#nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 100px;
}

#nav .nav__logo {
  width: 35px;
  height: 35px;
  fill: var(--secondary-color);
}

#nav .nav__links {
  font-family: "Lobster";
  width: 17%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav .nav__links a {
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
}

#nav .nav__links .nav__link:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  opacity: 0.8;
}

#header {
  width: 100%;
  height: 78vh;
  position: relative;
}

#header .bg-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#header .bg-animation #coffee-bean {
  position: absolute;
  top: 550px;
  left: 150px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  fill: var(--secondary-color);
  opacity: 0;
}

#header .bg-animation #coffee-pot {
  position: absolute;
  top: 100px;
  left: 400px;
  fill: var(--secondary-color);
  opacity: 0;
}

#header .bg-animation #coffee-cup {
  position: absolute;
  top: 475px;
  left: 1100px;
  fill: var(--secondary-color);
  opacity: 0;
}

#header .bg-animation #coffee-shop {
  position: absolute;
  top: 100px;
  left: 1300px;
  fill: var(--secondary-color);
  opacity: 0;
}

#header .bg-animation #coffee-shop .rect {
  fill: var(--primary-color);
}

#header .bg-animation .path1,
#header .bg-animation .path2,
#header .bg-animation .path3 {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
}

#header .bg-animation .path1 {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

#header .bg-animation .path2 {
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
}

#header .bg-animation .path3 {
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
}

#header .bg-mobile {
  display: none;
}

#header .main-title {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  z-index: 1;
  opacity: 0;
}

#header .main-title .title {
  font-family: "Lobster", cursive;
  font-size: 7rem;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

#header .main-title .subtitle {
  font-size: 1.2rem;
  margin-bottom: 70px;
  color: var(--secondary-color);
}

#header .main-title .cta {
  text-decoration: none;
  color: #f3cf7a;
  background-color: #ac3f21;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.3rem;
  cursor: pointer;
}

.scroll-down {
  margin: 0 auto;
  text-align: center;
  font-family: "Lobster", cursive;
  color: var(--secondary-color);
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-decoration: none;
  opacity: 0;
  cursor: pointer;
}

.scroll-down #scroll-arrow {
  stroke: var(--secondary-color);
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  margin-top: 10px;
}

.switch-theme {
  width: 30px;
  height: 10px;
  position: absolute;
  bottom: 48px;
  right: 50px;
}

.switch-theme #switch {
  border: none;
  background: none;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  fill: var(--secondary-color);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.switch-theme #slider {
  position: absolute;
  top: 6px;
  left: 0px;
  fill: var(--secondary-color);
  opacity: 0.7;
  z-index: -1;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

#features {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 100px;
  margin-top: 20px;
  background-color: var(--terciary-color);
}

#features h2 {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: #f3cf7a;
}

#features .features__boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0;
}

#features .features__boxes .feature__box {
  width: 20%;
  background-color: var(--secondary-color);
  padding: 40px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--primary-color);
  border-radius: 30px;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  cursor: none;
}

#features .features__boxes .feature__box svg {
  width: 80px;
  height: 80px;
  fill: var(--secondary-color);
  margin-bottom: 25px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 40px;
}

#features .features__boxes .feature__box h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

#features .features__boxes .feature__box p {
  font-size: 1.2rem;
  line-height: 30px;
}

#features .features__boxes .feature__box:hover {
  -webkit-box-shadow: 10px 10px 5px 0px var(--secondary-transparent);
          box-shadow: 10px 10px 5px 0px var(--secondary-transparent);
}

#award {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

#award .award__left {
  width: 60%;
  height: 100%;
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  text-align: center;
}

#award .award__left h1 {
  color: var(--secondary-color);
  font-size: 3rem;
}

#award .award__left h1 span {
  display: block;
  font-size: 6rem;
}

#award .award__right {
  width: 40%;
  height: 100%;
  background-color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#award .award__right .portrait {
  display: inline-block;
  width: 250px;
  height: auto;
}

#award .award__right .landscape {
  display: inline-block;
  height: 250px;
  width: auto;
  -webkit-transform: translateY(105px);
          transform: translateY(105px);
}

#award .award__right svg {
  position: absolute;
  top: -60px;
  right: -20px;
  fill: var(--primary-color);
  -webkit-transform: rotate(-10deg) scale(0.7);
          transform: rotate(-10deg) scale(0.7);
}

#social-proof {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 100px;
  background-color: #6e3b3b;
}

#social-proof h2 {
  font-size: 3.5rem;
  font-family: "Lobster", cursive;
  color: #f3cf7a;
  margin-bottom: 100px;
}

#social-proof .social__boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#social-proof .social__boxes .social__box {
  width: 365px;
  height: 365px;
  text-align: center;
  padding: 40px;
  background-color: #f3cf7a;
  border-radius: 182.5px;
  color: #41210a;
  cursor: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#social-proof .social__boxes .social__box img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

#social-proof .social__boxes .social__box h4 {
  font-size: 1.8rem;
  margin: 7px 0;
  font-family: "Lobster";
}

#social-proof .social__boxes .social__box i {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

#social-proof .social__boxes .social__box p {
  font-size: 1.1rem;
  width: 90%;
}

#social-proof .social__boxes .social__box:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(65, 33, 10, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(65, 33, 10, 0.75);
}

.social__links {
  width: 13%;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 150px;
}

.social__links i {
  font-size: 1.5rem;
  color: #f3cf7a;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.social__links i:hover {
  color: rgba(243, 207, 122, 0.75);
}

#faq {
  width: 100%;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#faq > h1 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-family: "Lobster";
  margin-bottom: 75px;
}

#faq .faq__question {
  width: 100%;
  height: 100px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: height 1s;
  transition: height 1s;
  margin-bottom: 40px;
}

#faq .faq__question > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#faq .faq__question > div h1 {
  font-size: 2rem;
  letter-spacing: 1px;
}

#faq .faq__question > div svg {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  stroke: var(--primary-color);
  cursor: pointer;
}

#faq .faq__question .answer {
  height: 0px;
  overflow: hidden;
  display: block;
  -webkit-transition: height 1s;
  transition: height 1s;
  opacity: 0;
}

#faq .faq__question .show {
  height: auto;
  padding-top: 50px;
  opacity: 1;
  font-size: 1.3rem;
}

#faq .expand {
  height: 220px;
}

#faq .alt {
  background-color: #ac3f21;
  color: #f3cf7a;
}

#contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 100px;
  color: var(--secondary-color);
}

#contact h2 {
  font-size: 4.5rem;
  font-family: "Lobster";
  margin-bottom: 20px;
}

#contact p {
  font-size: 1.2rem;
  margin-bottom: 75px;
}

#contact #contact-form {
  width: 50%;
  padding: 20px 100px 50px 100px;
  background-color: #ac3f21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact #contact-form label {
  color: #f3cf7a;
  font-size: 1.3rem;
  font-family: "Lobster";
  margin-top: 50px;
  width: 83%;
}

#contact #contact-form input,
#contact #contact-form textarea {
  border: none;
  padding: 15px;
  margin-top: 8px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Cambria", serif;
}

#contact #contact-form input::-webkit-input-placeholder {
  font-family: "Cambria", serif;
  font-size: 1.3rem;
  color: var(--secondary-transparent);
}

#contact #contact-form input:-ms-input-placeholder {
  font-family: "Cambria", serif;
  font-size: 1.3rem;
  color: var(--secondary-transparent);
}

#contact #contact-form input::-ms-input-placeholder {
  font-family: "Cambria", serif;
  font-size: 1.3rem;
  color: var(--secondary-transparent);
}

#contact #contact-form input::placeholder {
  font-family: "Cambria", serif;
  font-size: 1.3rem;
  color: var(--secondary-transparent);
}

#contact #contact-form > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contact #contact-form > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact #contact-form > div > div input {
  width: 100%;
}

#contact #contact-form .contact__email {
  width: 83%;
  height: 50px;
}

#contact #contact-form .contact__notes {
  width: 83%;
  height: 150px;
  margin-top: 8px;
  margin-bottom: 50px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Cambria", serif;
}

#contact #contact-form .contact__notes::-webkit-input-placeholder {
  font-family: "Cambria", serif;
  font-size: 1.1rem;
  color: var(--secondary-transparent);
}

#contact #contact-form .contact__notes:-ms-input-placeholder {
  font-family: "Cambria", serif;
  font-size: 1.1rem;
  color: var(--secondary-transparent);
}

#contact #contact-form .contact__notes::-ms-input-placeholder {
  font-family: "Cambria", serif;
  font-size: 1.1rem;
  color: var(--secondary-transparent);
}

#contact #contact-form .contact__notes::placeholder {
  font-family: "Cambria", serif;
  font-size: 1.1rem;
  color: var(--secondary-transparent);
}

#contact #contact-form .contact__submit {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

#footer {
  width: 100%;
  height: 200px;
  padding: 50px;
  margin-top: 100px;
  background-color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

#footer > div {
  width: 15%;
  margin: 0;
}

#footer > div i {
  color: var(--primary-color);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#footer > div i:hover {
  opacity: 0.7;
}

#footer > h4 {
  font-size: 1.3rem;
  margin-top: 30px;
  color: var(--primary-color);
}

#footer > h4 span {
  color: var(--primary-transparent);
}

#footer .footer__brand {
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  right: 40px;
}

#footer .footer__brand svg {
  fill: var(--primary-color);
  width: 25px;
  height: 25px;
  margin-bottom: 7px;
}

@media screen and (max-width: 1366px) {
  #nav {
    padding: 50px 70px;
  }
  #nav .nav__links {
    width: 20%;
  }
  #header {
    height: 420px;
  }
  #header .bg-animation #coffee-bean {
    top: 300px;
    left: 120px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  #header .bg-animation #coffee-pot {
    top: 30px;
    left: 370px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #header .bg-animation #coffee-cup {
    top: 230px;
    left: 740px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #header .bg-animation #coffee-shop {
    top: -20px;
    left: 900px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  #header .bg-animation .path1 {
    -webkit-transform: scale(0.7) rotate(30deg);
            transform: scale(0.7) rotate(30deg);
  }
  #header .bg-animation .path2 {
    -webkit-transform: scale(0.7) rotate(110deg);
            transform: scale(0.7) rotate(110deg);
  }
  #header .bg-animation .path3 {
    -webkit-transform: scale(0.7) rotate(35deg);
            transform: scale(0.7) rotate(35deg);
  }
  #header .main-title {
    padding: 50px 0;
  }
  #header .main-title .title {
    font-size: 5rem;
    margin-bottom: 30px;
  }
  #header .main-title .subtitle {
    font-size: 1.1rem;
    margin-bottom: 70px;
  }
  #header .main-title .cta {
    font-size: 1.3rem;
  }
  .scroll-down h3 {
    font-size: 1.3rem;
  }
  .scroll-down svg {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-bottom: 10px;
  }
  #features {
    padding: 100px 75px;
    height: auto;
  }
  #features .features__boxes .feature__box {
    height: 350px;
    display: block;
  }
  #features .features__boxes .feature__box h1 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  #features .features__boxes .feature__box p {
    width: 100%;
    font-size: 1rem;
  }
  #features .features__boxes .feature__box svg {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }
  #award .award__left h1 {
    font-size: 2.7rem;
  }
  #award .award__left h1 span {
    font-size: 5.5rem;
  }
  #award .award__right .portrait {
    width: 170px;
  }
  #award .award__right .landscape {
    height: 170px;
    -webkit-transform: translateY(72px);
            transform: translateY(72px);
  }
  #social-proof {
    height: auto;
    padding: 130px 75px 100px 75px;
  }
  #social-proof .social__boxes .social__box {
    width: 250px;
    height: 250px;
    padding: 20px;
  }
  #social-proof .social__boxes .social__box img {
    width: 70px;
    height: 70px;
  }
  #social-proof .social__boxes .social__box h4 {
    font-size: 1.5rem;
  }
  #social-proof .social__boxes .social__box p {
    font-size: 0.85rem;
  }
  #faq .faq__question > div h1 {
    font-size: 1.8rem;
  }
  #faq .faq__question > div svg {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
  #contact #contact-form {
    height: 100%;
    width: 70%;
  }
  #contact #contact-form .contact__email,
  #contact #contact-form .contact__notes,
  #contact #contact-form label {
    width: 88%;
  }
}

@media screen and (max-width: 800px) {
  #nav .nav__links {
    width: 30%;
  }
  #header {
    height: 80vh;
    background: url(assets/bg-tablet.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  #header .main-title {
    padding: 100px 0;
  }
  #header .main-title .title {
    font-size: 6.5rem;
    margin-bottom: 40px;
  }
  #header .main-title .subtitle {
    font-size: 1.5rem;
    margin-bottom: 100px;
  }
  #header .main-title .cta {
    font-size: 1.7rem;
  }
  #features {
    padding: 75px 40px 0 60px;
  }
  #features h2 {
    font-size: 3.5rem;
  }
  #features .features__boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #features .features__boxes .feature__box {
    width: 40%;
    margin: 0 50px 50px auto;
  }
  #features .features__boxes .feature__box h1 {
    font-size: 1.7rem;
    margin-bottom: 40px;
  }
  #award {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #award .award__left {
    width: 100%;
    padding: 30px;
  }
  #award .award__left h1 {
    font-size: 2rem;
  }
  #award .award__left h1 span {
    font-size: 4rem;
  }
  #award .award__right {
    width: 100%;
    padding: 30px;
  }
  #award .award__right .portrait {
    width: 175px;
  }
  #award .award__right .landscape {
    height: 175px;
    -webkit-transform: translateY(75px);
            transform: translateY(75px);
  }
  #award .award__right svg {
    top: -80px;
    right: -60px;
    -webkit-transform: rotate(-10deg) scale(0.4);
            transform: rotate(-10deg) scale(0.4);
  }
  #social-proof {
    padding: 100px 60px;
  }
  #social-proof h2 {
    font-size: 2.5rem;
  }
  #social-proof .social__boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #social-proof .social__boxes .social__box {
    margin: 0 auto 100px auto;
  }
  #social-proof .social__links {
    margin-top: 100px;
    width: 30%;
  }
  #faq {
    padding: 100px 50px;
  }
  #contact {
    padding: 20px;
  }
  #contact p {
    text-align: center;
  }
  #contact #contact-form {
    width: 70%;
    padding: 25px 40px 50px 40px;
  }
  #contact #contact-form label {
    width: 100%;
  }
  #contact #contact-form > div > div input {
    width: 80%;
    margin-right: 30px;
  }
  #contact #contact-form input[name="last-name"] {
    margin-right: 0;
    margin-left: auto;
  }
  #contact #contact-form label[for="last-name"] {
    text-align: center;
  }
  #contact #contact-form .contact__email,
  #contact #contact-form .contact__notes {
    width: 100%;
  }
  #footer {
    text-align: center;
  }
  #footer .social__links {
    width: 40%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .footer__brand {
    bottom: 10px;
    right: 20px;
  }
}

@media screen and (max-width: 450px) {
  #nav {
    padding: 25px;
  }
  #nav .nav__links {
    width: 50%;
  }
  #header {
    height: 60vh;
    margin-top: 30px;
    background: url(assets/bg-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #header .bg-animation {
    display: none;
  }
  #header .main-title {
    width: 80%;
  }
  #header .main-title .title {
    font-size: 4rem;
  }
  #header .main-title .subtitle {
    font-size: 1.2rem;
    margin-bottom: 80px;
  }
  #header .main-title .cta {
    font-size: 1.4rem;
  }
  .switch-theme {
    top: 110px;
    right: 30px;
  }
  #features .features__boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #features .features__boxes .feature__box {
    width: 100%;
    margin-bottom: 50px;
  }
  #features .features__boxes .feature__box h1 {
    font-size: 1.7rem;
    margin-bottom: 40px;
  }
  #award .award__right .portrait {
    width: 130px;
  }
  #award .award__right .landscape {
    height: 130px;
    -webkit-transform: translateY(55px);
            transform: translateY(55px);
  }
  #social-proof {
    padding: 100px 40px;
  }
  #social-proof .social__boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #social-proof .social__boxes .social__box {
    margin-bottom: 75px;
  }
  #social-proof .social__links {
    width: 80%;
    margin: 50px auto 25px auto;
  }
  #faq {
    padding: 100px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #faq > h1 {
    font-size: 2rem;
    margin: 0 auto 70px auto;
    text-align: center;
  }
  #faq .faq__question {
    padding: 10px 20px;
  }
  #faq .faq__question > div h1 {
    width: 80%;
    font-size: 1.4rem;
  }
  #faq .faq__question > div svg {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  #faq .faq__question .answer {
    font-size: 1rem;
  }
  #contact #contact-form {
    width: 100%;
  }
  #footer .social__links {
    width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */